html, body {
  width: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 { margin: 0 0 0.4em 0; }
p { margin: 0 0 0.75em 0; }

.nowrap {
  white-space: nowrap;
}

.splash {
  font-size: 15px;
  background: #0288D1;
  background: -webkit-linear-gradient(135deg, #09a7fd, #0288D1 50%, #039BE5 50%, #038acc);
  background: -moz-linear-gradient(135deg, #09a7fd, #0288D1 50%, #039BE5 50%, #038acc);
  background: -ms-linear-gradient(135deg, #09a7fd, #0288D1 50%, #039BE5 50%, #038acc);
  background: -o-linear-gradient(135deg, #09a7fd, #0288D1 50%, #039BE5 50%, #038acc);
  background: linear-gradient(135deg, #09a7fd, #0288D1 50%, #039BE5 50%, #038acc);

  color: #fff;
  padding: 20px 20px 0 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.splash a {
  color: inherit;
}

.splash .marp-logo {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 600px;
}
.splash .marp-logo-wrapper {
  margin: 1% 25px 0 25px;
}
.splash .marp-download {
  margin: 4% 0 0 0;
  text-align: center;
}
.splash .marp-download-button {
  background-color: #fff;
  color: #0288D1;
  font-size: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.splash .marp-info {
  font-size: 90%;
  margin: 1.5em 0 0 0;
  color: #bbdefb;
}
.splash .marp-info p {
  margin: 0 0 0.2em 0;
}
.splash .marp-screenshot {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 739px;
}

.main {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  padding: 1.5em;
  font-size: 17px;
  color: #555;
  line-height: 1.6;
}
.main h1 {
  color: #0288D1;
  text-shadow: 0 1px 4px #c0e6f8;
  margin-top: 1em;
}
.main h1:first-child {
  margin-top: 0.5em;
}
.main a {
  color: #09a7fd;
}
.main a:hover {
  color: #0288D1;
}
.main code, .main pre, .main pre * {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.main code, .main pre {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.2em;
}
.main code {
  display: inline-block;
  padding: 0 0.3em;
  margin: -1px 0.1em;
}
.main pre {
  background: -webkit-linear-gradient(0deg, #eee, #f6f6f6);
  background: -moz-linear-gradient(0deg, #eee, #f6f6f6);
  background: -ms-linear-gradient(0deg, #eee, #f6f6f6);
  background: -o-linear-gradient(0deg, #eee, #f6f6f6);
  background: linear-gradient(0deg, #eee, #f6f6f6);

  padding: 0.75em;
  line-height: 1.2;
}

.footer-download-container {
  margin: 3em 0;
  text-align: center;
}
.footer-download-container .footer-icon {
  display: block;
  width: 75%;
  max-width: 256px;
  height: auto;
  margin: 1em auto;
}
.footer-download-container a.pure-button {
  color: #fff;
}

.footer {
  font-size: 12px;
  background: #0288D1;
  background: -webkit-linear-gradient(135deg, #09a7fd, #0288D1 50%, #039BE5 50%, #038acc);
  background: -moz-linear-gradient(135deg, #09a7fd, #0288D1 50%, #039BE5 50%, #038acc);
  background: -ms-linear-gradient(135deg, #09a7fd, #0288D1 50%, #039BE5 50%, #038acc);
  background: -o-linear-gradient(135deg, #09a7fd, #0288D1 50%, #039BE5 50%, #038acc);
  background: linear-gradient(135deg, #09a7fd, #0288D1 50%, #039BE5 50%, #038acc);

  color: #fff;
  padding: 1em 1em ;
}
.footer p {
  margin: 0 0 0.25em 0;
}
.footer a {
  color: #fff;
}
.footer .footer-right {
  font-size: 10px;
  text-align: right;
}
